body {
	font-family: Arial, sans-serif;
	padding: 5%;
	background-color: black;
	color: AliceBlue;
}

.opening {
	padding: 5%;
}

.headers {
	padding-left: 5%;
	padding-right: 5%;
}


.flex-grid {
  display: flex;
  flex-flow: wrap; 
  padding-bottom: 1%;
}
.col-l {
  flex: 1;
	padding-left: 5%;
	padding-right: 5%;
  min-width: 250px;
}
.col-c {
  flex: 1;
	padding-left: 5%;
	padding-right: 5%;
  min-width: 250px;
}
.col-r {
  flex: 1;
	padding-left: 5%;
	padding-right: 5%;
  min-width: 250px;
}


.project-title {
	text-decoration: underline;
}


a:link {
  color: AliceBlue;
}

a:visited {
  color: AliceBlue;
}

a:hover {
  color: Aquamarine;
}

a:active {
  color: Blue;
}