body {
	font-family: Arial, sans-serif;
	padding: 5%;
	background-color: #F6E4CD;
	color: #101622;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
}

.opening {
	grid-column: span 12;
	padding: 5%;
	text-align: center;
}

.headers {
	grid-column: span 12;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.flex-grid {
  display: flex;
  flex-flow: wrap; 
  padding-bottom: 1%;
  justify-content: space-around;
}

.full-col {
  flex: 1 0 100%;
  padding: 2.5%;
  min-width: 450px; /* minimum width of three columns */
  max-width: 1000px; /* maximum width of three columns */
  margin: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: #F6E4CD;
}

.col-l, .col-c, .col-r {
	flex: 1 0 20%;
	padding: 2.5%;
	min-width: 250px;
	max-width: 500px;
	margin: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 5px;
	background-color: #F6E4CD;
}

.project-title {
	text-decoration: underline;
	color: #A22B25;
}

.clocks {
	font-family: Arial, sans-serif;
	font-size: 100px;
	color: #58787C;
}

a:link {
  color: #101622;
}

a:visited {
  color: #A22B25;
}

a:hover {
  color: #58787C;
}

a:active {
  color: #FC3F29;
}

.calculator {
	width: 80%;
	margin: 0 auto;
}

.calculator h2 {
	text-align: center;
	color: #A22B25;
	width: 100%;
}

.calculator label {
	font-size: 1.2em;
	color: #58787C;
}

.calculator input {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 5px;
	border: 1px solid #101622;
}

#newUpgradeTime, #newUpgradeCost {
	text-align: center;
	font-size: 1.5em;
	color: #A22B25;
	width: 100%;
}

.player-rolls, .situational-info {
	width: 45%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 5%;
	background-color: #F6E4CD;
	position: relative;
}

header h1 {
	font-size: 2em;
	color: #101622;
}

nav ul {
	display: flex;
	list-style-type: none;
}

nav ul li {
	margin-left: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #101622;
	font-size: 1.2em;
}

nav ul li a:hover {
	color: #A22B25;
}

@media all and (max-width: 1024px) {
	body {
		font-size: 2em;
	}
	header h1 {
		font-size: 2em;
	}
	.col-l, .col-c, .col-r {
		min-width: 450px;
		max-width: 1000px;
	}
}
