html {
	overflow-y: hidden;
	overflow-x: hidden;
	filter: blur(0.1px);
}

body {
	font-family: Arial, sans-serif;
	background-color: #32336e;
	color: #000000;
	text-shadow: 0px 0px 0px black;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 20px;
}

.opening {
	grid-column: span 12;
	text-align: center;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px black;
}

.headers {
	grid-column: span 12;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.weather-gifs {
	min-height: 1000px;
	display: flex;
	flex-flow: wrap;
	padding-bottom: 1%;
	justify-content: space-around;
	color: #FFFFFF;
	text-shadow: 2px 2px 2px black;
}

.weather-col {	
	flex: 1 0 100%;
	padding: 2.5%;
	min-width: 450px;
	max-width: 1000px;
	margin: 10px;
}

.weather-img {
	height: 50%;
}

@keyframes scrolling {
	from {margin-left: -4000px;}
	to   {margin-left: -8620px;}
}

.daily-table {
	display: table;
	overflow-x: auto;
	position: sticky;
	bottom: 0;
	margin-left: -3200px;
  	animation-name: scrolling;
  	animation-duration: 90s;
  	animation-iteration-count: 1000;
	animation-timing-function: linear;
}

.daily-scroll {
  display: table-row;
}

.daily-forecast {
  display: table-cell;  
  border-style: solid;
  border-width: 15px;
  border-left-width: 0px;
  border-color: #888888;
  padding: 10px; 
  min-width: 350px; /* maximum width of three columns */
  height: 100px;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
  border-radius: 0px;
  background-color: #cccccc;
  color: black;
  text-shadow: 0px 0px;

}

a:link, a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover, a:active {
  color: #8BC5BB;
  text-decoration: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	background-color: #cccccc;
	border-radius: 0px;
	position: relative;
	padding: 5px;
}

header h1 {
	font-size: 2em;
	color: #000000;
	margin-right: 20px;
}

nav ul {
	display: flex;
	padding-left: 0; 
	list-style-type: none;
}

nav ul li {
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
}

nav ul li a {
	padding: 10px;
	text-decoration: none;
	color: #000000;
	font-size: 1.2em;
}

nav ul li a:hover {
	color: #444444;
	background-color: #aaaaaa
}

.custom-list {
	list-style-type: none; 
	padding: 0;
}

.custom-list li {
	padding: 10px 0;
}

.custom-list li:last-child {
	border-bottom: none;
}
/*
@media all and (max-width: 1024px) {
	body {
		font-size: 2em;
	}
	header h1 {
		font-size: 2em;
	}
	.col-l, .col-c, .col-r {
		min-width: 450px;
		max-width: 1000px;
	}
}
*/
